aiohttp==3.8.1
async-timeout==4.0.0a3
attrs==21.2.0
chardet==4.0.0
discord==1.7.3
discord-py-interactions==4.2.1
discord.py==1.7.3
idna==3.2
multidict==5.1.0
typing-extensions==3.10.0.0
yarl==1.6.3
python-dotenv==0.19.2
